extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.button.help-alarm
        i.icon.help
        | 帮助
  div.ui.segments
    div.ui.segment
      p 待发送列表
    div.ui.segment
      table.ui.single.line.celled.table
        thead
          tr
            th 模块
            th 群组
            th 级别
            th 消息
            th SMS提醒
        tbody
          each alarm in alarms
            tr
              td= alarm.module
              td= alarm.receive_group
              td= alarm.level
              td= alarm.message
              td= alarm.sms_notice ? '是' : '否'
  include ./modals/alarms_help.pug
