extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.button.help-alarm
        i.icon.help
        | 帮助
  div.ui.segments
    div.ui.segment
      p 告警列表
    div.ui.segment
      form.ui.form(action="/alarms" accept-charset="UTF-8" method="get")
        div.fields.inline
          div.field
            label 筛选群组
            select.ui.dropdown.groups(name="group")
              each group in groups
                option(value="") 全部
                option(value= group.name) #{group.cn_name}
          div.field
            label 筛选级别
            select.ui.dropdown.groups(name="level")
              option(value="") 全部
              option(value="trace") Trace
              option(value="error") Error
              option(value="warning") Warning
              option(value="info") Info
          div.field
            label 筛选时间
            input(type="text", name="datetime")
          button.ui.positive.icon.button
            i.search.icon
            |筛选
      table.ui.single.line.celled.table
        thead
          tr
            th 模块
            th 群组
            th 级别
            th 消息
            th 触发时间
            th SMS提醒
            th 已送达
        tbody
          each alarm in alarms.data
            tr
              td= alarm.module
              td= alarm.receive_group
              td= alarm.level
              td
                div.ui.styled.fluid.accordion
                  div.title
                    i.dropdown.icon
                    !=alarm.message.substring(0, 10)
                  div.content
                    div.transition!=alarm.message
              td= alarm.datetime
              td= alarm.sms_notice ? '是' : '否'
              td
                div.ui.horizontal.label(class=alarm.sent ? 'green' : 'red')
                  i.icon(class=alarm.sent ? 'checkmark' : 'remove')= alarm.sent ? ' 是' : ' 否'
      div.ui.pagination.menu
        a(class="item prev-page "+isStart() href="/alarms?"+prevPage()) 上一页
        a.item.disabled 第 #{alarms.page} 页
        a(class="item next-page "+isEnd() href="/alarms?"+nextPage()) 下一页
  include ./modals/alarms_help.pug
